* {
    margin: 0;
    padding: 0;
  }
  
  .logo {  
    width: 10.5%;
    height: 78%;
  }
  
  
  #cabecalho {
    display: flex;
  }
  
  P {
    padding-bottom: 5%;
    padding-left: 2%;
    font-family: "Franklin Gothic Medium";
    display:inline-flex;
  }
   .logo1 {
    height: 100px;
    margin-left: 800px;
   }
  
  #titulo {
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 3em;
    background-color: rgb(150, 150, 200);
    margin-bottom: 5vh;
  }
  
  #imagem {
    text-align: center;
  }
  
  .img {
   width: 100%;
   height: 70vh;
  }
  
  .clas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    text-align: center;
  }
  
  .clan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .Uzumaki {
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(177, 180, 212);
    color: black;
    cursor: pointer;
  }
  
  .Uzumaki.U {
    background-color: rgb(150, 150, 200); 
  }
  
  .Uchiha {
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(177, 180, 212);
    color: black;
    cursor: pointer;
  }
  
  .Uchiha.U {
    background-color: rgb(150, 150, 200); 
  }
  
  .Senju {
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(177, 180, 212);
    color: black;
    cursor: pointer;
  }
  
  .Senju.U {
    background-color: rgb(150, 150, 200); 
  }
  
  .Hyuga {
    text-decoration: none;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(177, 180, 212);
    color: black;
    cursor: pointer;
  }
  
  .Hyuga.U {
    background-color: rgb(150, 150, 200); 
  }
  