header {
    height: 120px;
    display: flex;
    background-color: rgb(52, 47, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


body {
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color: hsl(215, 13%, 33%);
    margin: 0;
    padding: 0;
}

#logo {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    width: 100px;
    height: 100px;
}

#titulo h1{
    font-size: 2em;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

#botoes {
    display: flex;
    gap: 15px;
}


#botoes a {
    text-decoration: none;
    color: white;
    background-color: hsl(215, 15%, 35%);
    padding: 20px 30px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}

#botoes a:hover {
    background-color: hsl(215, 15%, 35%);
    color: white;
}

#descricao {
    text-align: center;
    margin: 80px auto 0 auto;
    width: 80%;
    color: #330000;
}

#descricao .p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.historia h1 {
    font-size: 26px;
    margin-bottom: 15px;
}

.historia p {
    text-align: justify;
    font-size: 17px;
    line-height: 1.7;
}


.personagens {
    text-align: center;
    margin-top: 100px;
}

.personagens h2 {
    font-size: 24px;
    margin-bottom: 40px;
}

.c_personagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personagem img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.personagem img:hover {
    transform: scale(1.1);
}

.personagem p {
    font-weight: bold;
    font-size: 16px;
    color: #220000;
}